<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">Chào mừng bạn đã đến với trang báo điện tử của mình</p>
  <Con class="lead">Con số may mắn của bạn hôm nay là {{this.randomNumber}}</p>
  <hr class="my-4">
  <p>Trang web của mình hiện tại còn khá là dỏm do mình mới học code web mong các bạn thông cảm trong quá trình sử dụng web</p>
  <a class="btn btn-primary btn-lg" href="/products/NoiBat" role="button">Home</a>
</div>