<form action="" method="post">
    <div class="card">
        <div class="card-header">
            Profile
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="txtUsername">Username</label>
                <input type="text" value="{{this.user.username}}" name="" id="txtUsername" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" value="{{this.user.name}}" name="" id="txtName" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" value="{{this.user.email}}" name="" id="txtEmail" class="form-control" placeholder="" readonly>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a name="" id="" class="btn btn-primary" href="/" role="button">
                <i class="bi bi-arrow-left-circle"></i>
                Quay lại
            </a>
        </div>
    </div>
</form>