{{#fillHtmlContent 'css'}}
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/fillHtmlContent}}
{{#fillHtmlContent 'js'}}
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.0/js/locales/vi.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.0/themes/fa5/theme.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdn.tiny.cloud/1/2x7n2s6o2yz6i273lvioacz7ygmmvsr8vso36ew5uosnyiyn/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
    selector: '#txtFullDes',
    plugins: 'paste image link autolink lists table media',
    menubar: 'false',
    toolbar: [
        'undo redo | bold italic underline strikethrough | numlist bullist | alignright alignleft aligncenter | forecolor backcolor',
    ],
    });
</script>
<script>$("#fuMain").fileinput({
    dropZoneEnabled: true,
    maxFileCount: 5,
    allowedFileExtensions: ['jpg', 'png', 'gif'],
    theme: "fa5",
    language: "vi",
    });
</script>
{{/fillHtmlContent}}
<form action="" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            Bài báo mới
        </div>
        <div class="card-body">
            <div class="form-group">
              <label for="txtProName">Tên bài báo</label>
              <input type="text" name="ProName" id="txtProName" class="form-control" placeholder="Nông sản - Hải sản">
            </div>
            <div class="form-group">
              <label for="txtCatID">Chuyên mục</label>
              <p>Chọn 1:Nông sản</p>
              <p>Chọn 2:Hải sản</p>
              <input type="number" name="CatID" id="txtCatID" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label for="txtTinyDes">Tóm tắt</label>
              <input type="text" name="TinyDes" id="txtTinyDes" class="form-control" placeholder="Nông sản - Hải sản">
            </div>
            <div class="form-group">
              <label for="txtFullDes">Nội dung chi tiết</label>
              <textarea name="FullDes" id="txtFullDes"></textarea>
            </div>
            {{!-- <div class="form-group">
                <label for="txtYoutube">Link Youtube</label>
                <input type="text" name="Youtube" id="txtYoutube" class="form-control" placeholder="Nông sản - Hải sản">
            </div> --}}
            <div class="form-group">
              <label for="fuMain">Photo</label>
              <input type="file" id="fuMain" name="fuMain" multiple>
            </div>
            <div class="form-group">
              <input type="hidden" name="Price" id="txtPrice" class="form-control" value="1">
            </div>
        </div>
        <div class="card-footer">
            {{#if (eq authUser.permission 0)}}
            <a name="" id="" class="btn btn-primary" href="/admin/products" role="button">
                <i class="bi bi-arrow-left-circle"></i>
                Danh sách
            </a>
            {{/if}}
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-check2"></i>
                Upload đợi duyệt
            </button>
        </div>
    </div>
</form>